<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
	<appSettings>
		<add key="Token" value="2824a69890cc1539e8bf46e1d43167fc"/>
		<add key="ApiUrl" value="https://api.openweathermap.org/data/2.5/weather?q="/>
		<add key="Units" value="metric"/>
	</appSettings>
</configuration>
